.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  align-items: center;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  padding-left: 64px;
  z-index: 2;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__link {
  color:#2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 100%;
  height: 608px;
  background-image: url(../images/header-image.png);
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;

}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__spane-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.section-title {
  margin: 0 auto;
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
}

.section-subtitle {
  margin: 0 auto;
  margin-top: 20px;
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
}

.table {
  margin: auto;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

.table__text {
  margin: 0 auto;
  padding-top: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.feynman {
  margin: 0;
  padding-top: 100px;
  height: 890px;
  background-color: #f2f2f2;
  position: relative;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feynman__title {
  margin: 0 auto;
  width: 648px;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
}

.feynman__subtitle {
  margin: o auto;
  margin-top: 70px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-align: center;
}

.feynman__link {
  height: 890px;
  height: 50%;
  margin-right: 48px;
  color:#2f80ed;
  text-decoration: none;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.kaufman {
  background-color: #000;
  color: #f2f2f2;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
  padding-top: 90px;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  height: 877px;
  width: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  right: -210px;
  top: 0;
  z-index: -1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.section-title_theme_dark {

}

.section-subtitle_theme_dark {

}

.table__heading_theme_dark {

}

.table__text_theme_dark {

}

.footer {
  min-height: 350px;
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__columns_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__columns_content_info {

}

.footer__columns_content_social {

}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__columns-link {
  margin: 0;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.footer__columns-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__columns-heading {
  margin: 0;
  font-size: 18px;
  font-weight: bolder;
  line-height: 30px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
